In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/drive/MyDrive/ML/purchasing_behavior/data_raw/Customer_Attributes_and_Purchase_Propensity.csv")

In [4]:
df.columns.tolist()

['Age', 'Income', 'City', 'Marital_Status', 'Score', 'Purchased']

In [7]:
df.dtypes

Age                 int64
Income              int64
City               object
Marital_Status     object
Score             float64
Purchased           int64
dtype: object

In [8]:
df.dtypes.value_counts()

int64      3
object     2
float64    1
Name: count, dtype: int64

In [11]:
total_linhas = df.shape[0]
total_colunas = df.shape[1]

print(f"Composição do DataFrame: {total_linhas} linhas e {total_colunas} colunas.")

Composição do DataFrame: 500 linhas e 6 colunas.

In [12]:
df.head()

   Age  Income      City Marital_Status     Score  Purchased
0   56   24000   Houston       Divorced  0.479897          0
1   46   90588   Chicago         Single  0.685968          1
2   32  113610   Houston       Divorced  0.017380          0
3   60  117856  New York        Married  0.323131          0
4   25   58304   Houston         Single  0.973098          0

In [16]:
total_na = df.isna().sum().sum()
na_variavel = df.isna().sum()

perc_na = na_variavel / total_linhas * 100

df_na = pd.DataFrame({
    'total': total_na,
    'percentual': perc_na
})

print(f"Total de valores Null no DataFrame: {total_na}.\n")
print(df_na)

Total de valores Null no DataFrame: 0.

                total  percentual
Age                 0         0.0
Income              0         0.0
City                0         0.0
Marital_Status      0         0.0
Score               0         0.0
Purchased           0         0.0

In [19]:
numero_cidades = df["City"].nunique()
cidades = df["City"].unique()

print(f"Número de cidades únicas: {numero_cidades}")
print(f"Cidades únicas: {cidades}")

Número de cidades únicas: 5
Cidades únicas: ['Houston' 'Chicago' 'New York' 'Los Angeles' 'Phoenix']

In [20]:
numero_status_civil = df["Marital_Status"].nunique()
status_civil = df["Marital_Status"].unique()

print(f"Número de status civil únicos: {numero_status_civil}")
print(f"Status civil únicos: {status_civil}")

Número de status civil únicos: 3
Status civil únicos: ['Divorced' 'Single' 'Married']

In [21]:
numero_target = df["Purchased"].nunique()
target = df["Purchased"].unique()

print(f"Número de target únicos: {numero_target}")
print(f"Target únicos: {target}")

Número de target únicos: 2
Target únicos: [0 1]

In [22]:
inconsistentes = df[(df["Purchased"] < 0) | (df["Purchased"] > 1)]

if not inconsistentes.empty:
    print("Incoerencia de registros:")
    print(inconsistentes)
else:
    print("Dados regulares")

Dados consistentes

Feature engineering

In [23]:
df["Income_per_Age"] = df["Income"] / df["Age"].replace(0, np.nan)
df["Age_x_Score"] = df["Age"] * df["Score"]

In [26]:
df = pd.get_dummies(df, columns=["Marital_Status", "City"], drop_first=True)
print(df.head())

   Age  Income     Score  Purchased  Income_per_Age  Age_x_Score  \
0   56   24000  0.479897          0      428.571429    26.874237
1   46   90588  0.685968          1     1969.304348    31.554516
2   32  113610  0.017380          0     3550.312500     0.556153
3   60  117856  0.323131          0     1964.266667    19.387839
4   25   58304  0.973098          0     2332.160000    24.327444

   Marital_Status_Married  Marital_Status_Single  City_Houston  \
0                   False                  False          True
1                   False                   True         False
2                   False                  False          True
3                    True                  False         False
4                   False                   True          True

   City_Los Angeles  City_New York  City_Phoenix
0             False          False         False
1             False          False         False
2             False          False         False
3             False           True         False
4             False          False         False

In [27]:
df.to_csv("/content/drive/MyDrive/ML/purchasing_behavior/data_processed/costumer_processed.csv")